<app-header [header]="heading"></app-header>

<div class="about">
  <h1>Developer, coder hacker passionate to learn and build stuff that impacts and improves the way we do things for good.</h1>
  <p>
    I am looking for opportunities and challenges that are meaningful to me. 
     I always had a knack for making and automating things and visualising a phenomenon
      programmatically. I would like to call myself a logical thinker. I love to code web 
      applications tackle complicated algorithmic problem, along with that I like learn everything 
      that fascinates me.
  </p>

  <p>
    As a strategic thinker I enjoy using my imagination and 
    knowledge to make things that makes life easier for the world and may be inspire someone else. 
    That’s why I am excited to make a big impact at a high growth company.
  </p>
</div>