mat-card {
    background-color: #FFFFFF;
}

mat-card-header {
    display: flex;
    
    margin: 0;
}

mat-card-title {
    display: flex;
}

mat-card-subtitle {
    display: flex;
}

mat-card-content {
    padding-top: 10px;
}

mat-card-footer {
    padding: 3%;
    background-color: #FAFAFA;
}