<mat-card>
  <mat-card-header>
      <mat-card-title> {{ skill.title }}</mat-card-title>  
  </mat-card-header>
  <mat-divider></mat-divider>
  
  <mat-card-content>
    <mat-grid-list [cols]="col" [rowHeight]="rowHieght">
    <mat-grid-tile *ngFor="let image of skill.images">
        <img mat-card-sm-image [src]="image.location" [alt]="image.alt">     
        <mat-grid-tile-footer >
          {{ image.caption }}
        </mat-grid-tile-footer>
    </mat-grid-tile>
    
    </mat-grid-list>
  </mat-card-content>
</mat-card>