.stay-top {
    height: 7%;
    
}

.stay-bottom {
    height: 7%;
}

mat-sidenav-content {
    scroll-behavior: smooth;
}



mat-sidenav-container {
    height: 93%;
}

mat-sidenav {
    width: 180px;
    height: 100%;;
}


.cont{
    
    background-color: green;
}

.salutation {
    background-color: #FAFAFA;
    text-align: justify;
    
    padding: 10%;
    font-size: medium;
    color: #B19D95;
}

.salutation p {
    color: #2096ba;
    margin: 0;
    font-size: x-large
    
}

.salutation-top {
    text-align: center;    
    padding: 0;
    font-size: medium;
    color: #B19D95;
    background-color: #FAFAFA;
}

.salutation-top p {
    color: #2096ba;
    margin: 0;
    font-size: large
    
}

a:hover,
  a:active {
    color: brown;
  }

.about {
    color: #1D8E83;
}

.experience {
    color: #3F51B5;
}

.skill {
    color: #9C27B0;
}

.award {
    color: #F44336;
}

.education {
    color: #FF9800;
}

.contact {
    color: #795548;
}