
<div class="stay-top" fxHide.gt-sm >
    <button mat-icon-button  (click)=toggleSidenav()>
      <mat-icon>menu</mat-icon>
    </button>
<div class="salutation-top" fxFlex>
  <a href="#top">
    <p>{{ portfolio.name }}</p>
    {{ portfolio.role }}
  </a>
</div>
</div>

<mat-sidenav-container>
  <mat-sidenav #sidenav  [opened]="sidenavButon" role="navigation" [mode]="mode">
    <a href="#top">
      <div class="salutation" fxHide.lt-md>
          <p>{{ portfolio.name }}</p>
          {{ portfolio.role }}
      </div>
    </a>  
    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item >
        <mat-icon class="about">face</mat-icon>
        <a mat-list-item href=#about (click)="closeSidenav()">About</a>
      </mat-list-item>

      <mat-list-item>
         <mat-icon class="experience">import_contacts</mat-icon>
         <a mat-list-item href=#experience (click)="closeSidenav()">Experience</a>
      </mat-list-item>

      <!-- <mat-list-item>
        <mat-icon>calendar_view_day</mat-icon>
        <a mat-list-item href=#project>Project</a>
      </mat-list-item> -->

      <mat-list-item>
        <mat-icon class="skill">arrow_upward</mat-icon>
        <a mat-list-item href=#skill (click)="closeSidenav()">Skill</a>
      </mat-list-item>
  
  
      <mat-list-item>
        <mat-icon class="award">star</mat-icon>
        <a mat-list-item href=#award (click)="closeSidenav()">Award</a>
      </mat-list-item>

              
      <mat-list-item>
        <mat-icon class="education">school</mat-icon>
        <a mat-list-item href=#education (click)="closeSidenav()">Education</a>
      </mat-list-item>

          
      <mat-list-item>
        <mat-icon class="contact">alternate_email</mat-icon>
        <a mat-list-item href=#contact (click)="closeSidenav()">Contact</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
  
    <div id="top"></div>
    <div class="main-content">
      <div id="top" class="image">
          <img src="../../assets/images/arunabh.jpg" alt="Me" width="100%" height="30%">
      </div>

      <div id="about">
        <app-about></app-about>
      </div>

      <div id="experience">
          <app-experience [experiences]="portfolio.experiences"></app-experience>
      </div>

      <!-- <div id="project">
        <app-project></app-project>
      </div> -->

      <div id="skill">
        <app-skill [skills]="portfolio.skills"></app-skill>
      </div>

      <div id="award">
        <app-awards [awards]="portfolio.awards"></app-awards>
      </div>

      <div id="education">
        <app-education [educations]="portfolio.educations"></app-education>
      </div>

      <div id="contact">
        <app-contact [contacts]="portfolio.contacts"></app-contact>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="stay-bottom" fxHide.lt-md >
  <div class="salutation-top" fxFlex>
      <p>{{ portfolio.name }}</p>
      {{ portfolio.role }}
  </div>
</div>

